[submodule "zplug.ln"]
	path = zplug.ln
	url = https://github.com/zplug/zplug.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "configs/zplug"]
	path = configs/zplug
	url = https://github.com/zplug/zplug
[submodule "configs/nvim/plug"]
	path = configs/nvim/plug
	url = https://github.com/junegunn/vim-plug.git
