<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Installed Extensions</key>
	<array>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.things3</string>
			<key>Extension Name</key>
			<string>Things 3</string>
			<key>Package Name</key>
			<string>Things3.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.google-search</string>
			<key>Extension Name</key>
			<string>Google</string>
			<key>Package Name</key>
			<string>GoogleSearch.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.bear</string>
			<key>Extension Name</key>
			<string>Bear</string>
			<key>Package Name</key>
			<string>Bear.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.copy-as-markdown</string>
			<key>Extension Name</key>
			<string>Copy Markdown</string>
			<key>Package Name</key>
			<string>CopyAsMarkdown.popclipext</string>
		</dict>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Extension Identifier</key>
			<string>com.pilotmoon.popclip.extension.select-all</string>
			<key>Extension Name</key>
			<string>Select All</string>
			<key>Package Name</key>
			<string>SelectAll.popclipext</string>
		</dict>
	</array>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
