<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	k3akDcCP1f5Ln9viW+GJiYFZY4Fml0UF85yFHz/aRl2jHj/ku881XYUEeLbq7Sr6MZQN
	x3D32lkL2wfcUMQf9eN/ZDVbE3YXwJm1znbB/0jHJVBx34Jjci1Dy/lMiXd/ZAJ5cN/M
	ozFwSeevkZBvRXqZyRv9EDRf5AJzzV9V1Vo=
	</data>
</dict>
</plist>
